# **초보자를 위한 파이썬 300제**

#01. 파이썬 시작하기

## print 기초

문자열을 출력할 때는 다음으로 문자를 감싸서 출력.
"" , ''

In [ ]:
# 001 화면에 Hello World 문자열을 출력하세요.

print("Hello world")

Hello world

In [ ]:
#002 화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)

print("Mary's cosmetics")

Mary's cosmetics

In [ ]:
#003 화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)
# 신씨가 소리질렀다. "도둑이야".

print('신씨가 소리질렀다. "도둑이야"')

신씨가 소리질렀다. "도둑이야"

In [ ]:
# 004 화면에 C:\Windows를 출력하세요.

print("C:\windows")

C:\windows

## '\t', '\n'

'\t' : 탭(=스페이스 4개)
'\n' : 엔터

In [ ]:
#005 다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [ ]:
# 006 print 여러 데이터 출력 : 쉼표로 구분하면 공백이 생긴 뒤에 다음 문자가 온다.
print ("오늘은", "일요일")

오늘은 일요일

## sep = " " 인자 활용

print()문에서 쉼표(,)는 기본적으로 공백으로 출력된다.
이 공백을 다른 문자로 대체하고 싶을 때 sep="문자"를 사용한다.

In [ ]:
#007 print() 함수를 사용하여 다음과 같이 출력하세요.
#naver;kakao;sk;samsung

print('naver','kakao', 'sk', 'samsung', sep =';')

naver;kakao;sk;samsung

In [ ]:
#008 print() 함수를 사용하여 다음과 같이 출력하세요.
# naver/kakao/sk/samsung

print('naver','kakao', 'sk', 'samsung', sep = '/')

naver/kakao/sk/samsung

## end = ' ' 인자 활용

print()문은 괄호 안 문자를 출력한 후 기본적으로 줄바꿈을 실행한다. 줄바꿈을 실행하고 싶지 않을 때 end=''를 사용한다.

In [ ]:
#009 다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='')
# print 함수는 두 번 사용합니다.
# 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.
# print("first");print("second")

print("first");print("second")
print("first",end='');print("second")

first
second
firstsecond

In [ ]:
#010 5/3의 결과를 화면에 출력하세요.
print(5/3)

1.6666666666666667

# 02. 파이썬 변수

In [ ]:
#011 변수 사용하기
# 삼성전자라는 변수로 50,000원을 바인딩해보세요.
#삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

삼성전자 = 50000
보유량 = 10
print("총 평가금액", 삼성전자*보유량)

총 평가금액 500000

In [ ]:
#012 다음 표는 삼성전자의 일부 투자정보입니다.
#변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

## 문자열은 +로 연결할 수 있다.

In [ ]:
#013 문자열 출력
# 변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.
s = "hello"
t = "python"
# 두 변수를 이용하여 아래와 같이 출력해보세요.
#실행 예:hello! python

print(s+"!",t)
print(s,t,sep="! ")

hello! python
hello! python

In [ ]:
# 014 파이썬을 이용한 값 계산
# 아래 코드의 실행 결과를 예상해보세요.
# 2 + 2 * 3

print(2+2*3)

#곱하기가 먼저 계산된다!!

8

## type() 함수

type() 함수는 데이터 타입을 판별한다.

In [ ]:
# 015 type 함수
#type() 함수는 데이터 타입을 판별합니다.
#변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.
#아래 변수에 바인딩된 값의 타입을 판별해보세요.
a = "132"
print(a, type(a))

132 <class 'str'>

## 타입 변환

In [ ]:
# 016 문자열을 정수로 변환
num_str = "720"
num_str = int(num_str)
print(num_str, type(num_str))

720 <class 'int'>

In [ ]:
# 017 정수를 문자열 100으로 변환
num = 100
num = str(num)
print(num, type(num))

100 <class 'str'>

In [ ]:
# 018 문자열을 실수로 변환
num = "15.79"
num = float(num)
print(num, type(num))

15.79 <class 'float'>

In [ ]:
# 019 문자열을 정수로 변환
year = "2020"

year = int(year)
print(year-1)
print(year)
print(year+1)

2019
2020
2021

In [ ]:
# 020 파이썬 계산
month = 48584
total = month*36
print(total)

1749024

# 03. 파이썬 문자열

## 문자열 인덱싱



*   문자열은 for문을 돌리지 않고도 인덱싱이 가능하다.
*   문자열[start:end:stride]

문자열은 인덱스가 있다.

In [ ]:
# 021 문자열 인덱싱
# letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.
letters = 'python'

print(letters[0], letters[1])

p y

슬라이싱 [start:end:strid]

In [ ]:
# 022 문자열 슬라이싱
# 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.
license_plate = "24가 2210"

print(license_plate[-4:])

2210

In [ ]:
# 023 문자열 인덱싱
# 아래의 문자열에서 '홀' 만 출력하세요.
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [ ]:
# 024 문자열 슬라이싱
# 문자열을 거꾸로 뒤집어 출력하세요.
string = "PYTHON"
print(string[::-1])

NOHTYP

문자열 치환 : replace.('치환될 문자','치환할 문자')

In [ ]:
# 025 문자열 치환
# 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.
phone_number = "010-1111-2222"

print(phone_number.replace("-"," "))

010 1111 2222

In [ ]:
# 026 문자열 다루기
# 25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.
phone_number = "010-1111-2222"

print(phone_number.replace("-",""))

01011112222

문자열은 인덱스가 있지만 직접 수정할 수 없다.
replace() 메서드 써야 한다.
그렇다고 직접 수정되는 것은 아니다.
원본은 남겨두고, replace()를 적용한 결과만 화면에 출력한다.

In [ ]:
# 028 문자열은 immutable
# 아래 코드의 실행 결과를 예상해보세요.
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [ ]:
# 029 replace 메서드
# 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.
string = 'abcdfe2a354a32a'
print(string.replace("a","A"))

Abcdfe2A354A32A

In [ ]:
# 030 replace 메서드
# 아래 코드의 실행 결과를 예상해보세요.
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd



*   문자열은 +로 이어 붙일 수 있다.
*   문자열은 *로 반복해서 쓸 수 있다.

In [ ]:
# 031 문자열 합치기
# 아래 코드의 실행 결과를 예상해보세요.
a = "3"
b = "4"
print(a + b)

34

In [ ]:
# 032 문자열 곱하기
# 아래 코드의 실행 결과를 예상해보세요.
print("Hi" * 3)

HiHiHi

In [ ]:
# 033 문자열 곱하기
# 화면에 '-'를 80개 출력하세요.
print('-'*80)

--------------------------------------------------------------------------------

In [ ]:
# 034 문자열 곱하기
# 변수에 다음과 같은 문자열이 바인딩되어 있습니다.

t1 = 'python'
t2 = 'java'
# 변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.

# 실행 예:
# python java python java python java python java

t3 = t1 + ' ' + t2 + ' '
print(t3*3)

python java python java python java

%formatting


*   f-string : print(f"{변수 이름} 문자 어쩌구")
*   format()메서드 : print("문자문자 {} 문자문자".format(변수이름))
*   %formatting : print("문자문자 %__ 문자문자" %(변수이름))

%s : 문자열 데이터
%d : 정수형 데이터

In [ ]:
# 035 문자열 출력
# 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

# 이름: 김민수 나이: 10
# 이름: 이철희 나이: 13

print(f"이름 : {name1}  나이 : {age1}")
print("이름 : {}  나이 : {}".format(name2,age2))

이름 : 김민수  나이 : 10
이름 : 이철희  나이 : 13

In [ ]:
# 036 문자열 출력
# 문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

In [ ]:
# 037 문자열 출력
# 파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

In [ ]:
# 038 컴마 제거하기
# 삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.
상장주식수 = "5,969,782,550"
상장주식수 = int(상장주식수.replace(",",''))
print(상장주식수)

5969782550

In [ ]:
# 039 문자열 슬라이싱
# 다음과 같은 문자열에서 '2020/03'만 출력하세요.
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

strip("__") : 특정 문자를 제거하고 싶을 때.

In [ ]:
# 040 strip 메서드
# 문자열의 좌우의 공백이 있을 때 이를 제거해보세요.
data = "   삼성전자    "
data =data.strip(" ")
print(data)

삼성전자

upper(), lower(), capitalize(), endswith(), startswith(), split(), rstrip(), lstrip()

In [ ]:
# 041 upper 메서드
# 다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.

ticker = "btc_krw"
print(ticker.upper())

BTC_KRW

In [ ]:
# 042 lower 메서드
# 다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.
ticker = "BTC_KRW"
print(ticker.lower())

btc_krw

In [ ]:
# 043 capitalize 메서드
# 문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.
string = "hello"
print(string.capitalize())

Hello

In [ ]:
# 044 endswith 메서드
# 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"

file_name.endswith("xlsx")

True

In [ ]:
# 045 endswith 메서드
# 파일 이름이 문자열로 저장되어 있을 때
#endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"

file_name.endswith(("xlsx",'xls'))

True

In [ ]:
# 046 startswith 메서드
# 파일 이름이 문자열로 저장되어 있을 때
# startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [ ]:
# 047 split 메서드
# 다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.
a = "hello world"
a.split(" ")

#나누고 리스트에 저장함

['hello', 'world']

In [ ]:
# 048 split 메서드
# 다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.
ticker = "btc_krw"

ticker.split("_")

['btc', 'krw']

In [ ]:
# 049 split 메서드
# 다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.
date = "2020-05-01"

date.split("-")

['2020', '05', '01']

In [ ]:
# 050 rstrip 메서드
# 문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.
data = "039490     "
data.rstrip(" ")

'039490'

# 04. 파이썬 리스트

In [ ]:
# 051 리스트 생성
# 2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다.
# 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)
movie_rank = ["닥터 스트레인지","스플릿","럭키"]
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

## append() : 리스트 원소 추가

In [ ]:
# 052 리스트에 원소 추가
# 051의 movie_rank 리스트에 "배트맨"을 추가하라.
movie_rank = ["닥터 스트레인지","스플릿","럭키"]
movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

## insert(인덱스, 원소) : 특정 위치에 값을 끼어넣기

In [ ]:
# 053
# movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다.
#"슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1,"슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

## del 변수[인덱스] , remove() : 리스트 원소 삭제

In [ ]:
# 054
# movie_rank 리스트에서 '럭키'를 삭제하라.
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
# movie_rank.remove('럭키')
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [ ]:
# 055
# movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2]
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

## 리스트끼리 +를 하면 하나로 합쳐진다.

In [ ]:
# 056
# lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

## min(), max() : 최솟값과 최댓값을 찾는 함수

In [ ]:
# 057
# 다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)
nums = [1, 2, 3, 4, 5, 6, 7]

print("max :", max(nums))
print("min :", min(nums))

max : 7
min : 1

## sum() : 총합을 계산하는 함수

In [ ]:
# 058
# 다음 리스트의 합을 출력하라.
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

## len() : 원소의 개수를 출력하는 함수

In [ ]:
# 059
# 다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [ ]:
# 060
# 다음 리스트의 평균을 출력하라.
nums = [1, 2, 3, 4, 5]
mean = sum(nums) / len(nums)
print(mean)

3.0

In [ ]:
# 061
# price 변수에는 날짜와 종가 정보가 저장돼 있다.
# 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [ ]:
# 062
# 슬라이싱을 사용해서 홀수만 출력하라.
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [ ]:
# 063
# 슬라이싱을 사용해서 짝수만 출력하라.
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [ ]:
# 064
# 슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [ ]:
# 065
# interest 리스트에는 아래의 데이터가 바인딩되어 있다.
interest = ['삼성전자', 'LG전자', 'Naver']

# interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

# 출력 예시:
# 삼성전자 Naver

print(interest[0],interest[2])

삼성전자 Naver

## "쉼표를 대체하고 싶은 문자".join(리스트 이름)

In [ ]:
# 066 join 메서드
# interest 리스트에는 아래의 데이터가 바인딩되어 있다.
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

# interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

# 출력 예시:
# 삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [ ]:
# 067 join 메서드
# interest 리스트에는 아래의 데이터가 바인딩되어 있다.
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

# interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

# 출력 예시:
# 삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [ ]:
# 068 join 메서드
# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

# join() 메서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력하라.

# 출력 예시:
# 삼성전자
# LG전자
# Naver
# SK하이닉스
# 미래에셋대우

print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [ ]:
# 069 문자열 split 메서드
# 회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다.

string = "삼성전자/LG전자/Naver"
# 이를 interest 이름의 리스트로 분리 저장하라.

# 실행 예시
# >> print(interest)
# ['삼성전자', 'LG전자', 'Naver']

interest = string.split("/")
print(interest)

['삼성전자', 'LG전자', 'Naver']

## sort(), sorted()

sort() : 원본을 오름차순으로 정렬
sorted() : 오름차순으로 정렬한 것을 출력(원본 변경x)

In [ ]:
# 070 리스트 정렬
# 리스트에 있는 값을 오름차순으로 정렬하세요.

data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

data2 = sorted(data)
print(data2)

[1, 2, 3, 4, 5, 9, 10]
[1, 2, 3, 4, 5, 9, 10]

# 05. 파이썬 튜플

In [ ]:
# 071
# my_variable 이름의 비어있는 튜플을 만들라.

my_variable =()
print(type(my_variable))

<class 'tuple'>

In [ ]:
# 072
# 2016년 11월 영화 예매 순위 기준 top3는 다음과 같다.
# 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)

movie_rank= ("닥터 스트레인지","스플릿","럭키")
print(movie_rank)

('닥터 스트레인지', '스플릿', '럭키')

## 숫자 하나를 튜플에 저장할 때 : (1, )

In [ ]:
# 073
# 숫자 1 이 저장된 튜플을 생성하라.

num = (1,)
print(type(num))

<class 'tuple'>

In [ ]:
# 074
# 다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.

t = (1, 2, 3)
t[0] = 'a'

TypeError: 'tuple' object does not support item assignment

## 튜플은 괄호 없이도 동작한다.

사용자 편의를 위해

In [ ]:
# 075
# 아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?

t = 1, 2, 3, 4
print(type(t))

<class 'tuple'>

In [ ]:
# 076
# 변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라.

t = ('a', 'b', 'c')
t = ('A', 'b,', 'c')
print(t)

('A', 'b,', 'c')

## list()로 타입을 리스트로 변경 가능.

In [ ]:
# 077
# 다음 튜플을 리스트로 변환하라.

interest = ('삼성전자', 'LG전자', 'SK Hynix')
data = list(interest)
print(data)

['삼성전자', 'LG전자', 'SK Hynix']

## tuple()로 타입을 튜플로 변경 가능

In [ ]:
# 078
# 다음 리스트를 튜플로 변경하라.

interest = ['삼성전자', 'LG전자', 'SK Hynix']
data = tuple(interest)
print(data)

('삼성전자', 'LG전자', 'SK Hynix')

## 튜플 언팩킹

변수들에 튜플을 하나씩 지정 가능.

변수1, 변수2, 변수3 = 튜플 이름

In [ ]:
# 079 튜플 언팩킹
# 다음 코드의 실행 결과를 예상하라.

temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

## range(start,end,stride) 가능.

In [ ]:
# 080 range 함수
# 1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.

# (2, 4, 6, 8 ... 98)

data = tuple(range(2,100,2))
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

# 06. 파이썬 딕셔너리

## star expression : *변수

star expression을 이용하면 언패킹 할 때 한 번에 넣을 수 있다.

In [ ]:
# 081 별 표현식
'''기본적으로 데이터 언패킹은 좌변의 변수와 우변 데이터 개수가 같아야 합니다.
하지만 star expression을 사용하면 변수의 개수가 달라도 데이터 언패킹을 할 수 있습니다.
튜플에 저장된 데이터 중에서 앞에 있는 두 개의 데이터만 필요할 경우
나머지 데이터의 언패킹 코드를 작성할 필요가 없습니다.'''

# >> a, b, *c = (0, 1, 2, 3, 4, 5)
# >> a
# 0
# >> b
# 1
# >> c
# [2, 3, 4, 5]

# 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때,
# start expression을 사용하여 좌측 8개의 값을 valid_score 변수에 바인딩하여라.

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

*valid_score,a,b = scores

print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [ ]:
# 082
# 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때,
#start expression을 사용하여 우측 8개의 값을 valid_score 변수에 바인딩하여라.

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_,_,*valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [ ]:
# 083
# 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때,
# start expression을 사용하여 가운데 있는 8개의 값을 valid_score 변수에 바인딩하여라.
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

a,*valid_score,b = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

## 딕셔너리 = {}

In [ ]:
# 084 비어있는 딕셔너리
# temp 이름의 비어있는 딕셔너리를 만들라.

temp = {}
print(type(temp))

<class 'dict'>

In [ ]:
# 085
# 다음 아이스크림 이름과 희망 가격을 딕셔너리로 구성하라.

# 이름	희망 가격
# 메로나	1000
# 폴라포	1200
# 빵빠레	1800

ice_cream = {"메로나" : 1000, "폴라포" : 1200, "빵빠레" : 1800}
print(ice_cream)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

## 사전에 요소 추가 : 키워드를 인덱스처럼 []로 감싸야 한다.

In [ ]:
# 086
# 085 번의 딕셔너리에 아래 아이스크림 가격정보를 추가하라.
ice_cream = {"메로나" : 1000, "폴라포" : 1200, "빵빠레" : 1800}
ice_cream["죠스바"] = 1200
ice_cream["월드콘"] = 1500
print(ice_cream)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
# 087
# 다음 딕셔너리를 사용하여 메로나 가격을 출력하라.

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

print(f"메로나 가격 : {ice['메로나']}")

메로나 가격 : 1000

In [ ]:
# 088
# 다음 딕셔너리에서 메로나의 가격을 1300으로 수정하라.
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

ice['메로나'] = 1300
print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

## 사전 요소 삭제 : del

In [ ]:
# 089
# 다음 딕셔너리에서 메로나를 삭제하라.
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

del ice['메로나']
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
# 090
# 다음 코드에서 에러가 발생한 원인을 설명하라.
# >> icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
# >> icecream['누가바']
# Traceback (most recent call last):
#   File "<pyshell#69>", line 1, in <module>
#     icecream['누가바']
# KeyError: '누가바'

In [ ]:
# 091 딕셔너리 생성
# 아래의 표에서, 아이스크림 이름을 키값으로, (가격, 재고) 리스트를 딕셔너리의 값으로 저장하라.
# 딕셔너리의 이름은 inventory로 한다.

# 이름	가격	재고
# 메로나	300	20
# 비비빅	400	3
# 죠스바	250	100

inventory = {"메로나": [300, 20],
             "비비빅": [400, 3],
             "죠스바": [250, 100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [ ]:
# 092 딕셔너리 인덱싱
# inventory 딕셔너리에서 메로나의 가격을 화면에 출력하라.

inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

print(inventory["메로나"][0])

300

In [ ]:
# 093 딕셔너리 인덱싱
# inventory 딕셔너리에서 메로나의 재고를 화면에 출력하라.
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

print(inventory["메로나"][1])

20

In [ ]:
# 094 딕셔너리 추가
# inventory 딕셔너리에 아래 데이터를 추가하라.

inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

inventory["월드콘"] = [500,7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

## keys() 메서드

keys()메서드를 쓰면 그 값들은 dict_keys라는 타입이 된다.

In [ ]:
# 095 딕셔너리 keys() 메서드
# 다음의 딕셔너리로부터 key 값으로만 구성된 리스트를 생성하라.
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
lst = list(icecream.keys())
print(lst,type(lst))

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나'] <class 'list'>

## values() 메서드

In [ ]:
# 096 딕셔너리 values() 메서드
# 다음의 딕셔너리에서 values 값으로만 구성된 리스트를 생성하라.
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
lst = list(icecream.values())
print(lst)

[1200, 1200, 1800, 1500, 1000]

In [ ]:
# 097 딕셔너리 values() 메서드
# icecream 딕셔너리에서 아이스크림 판매 금액의 총합을 출력하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(sum(icecream.values()))

6700

## update() : 사전 + 사전을 하고 싶을 때

In [ ]:
# 098 딕셔너리 update 메서드
# 아래의 new_product 딕셔너리를 다음 icecream 딕셔너리에 추가하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

## zip(), dict()

zip() : 튜플의 각 요소들을 같은 인덱스끼리 짝짓는 것

dict() : 타입을 딕셔너리로 바꾸는 함수

In [ ]:
# 099 zip과 dict
# 아래 두 개의 튜플을 하나의 딕셔너리로 변환하라. keys를 키로, vals를 값으로 result 이름의 딕셔너리로 저장한다.
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [ ]:
# 100 zip과 dict
# date와 close_price 두 개의 리스트를 close_table 이름의 딕셔너리로 생성하라.

date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

close_table = dict(zip(date,close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

# 07. 파이썬 분기문

In [ ]:
# 101
# 파이썬에서 True 혹은 False를 갖는 데이터 타입은 무엇인가?

# bool 타입

In [ ]:
# 102
# 아래 코드의 출력 결과를 예상하라
print(3 == 5)

False

In [ ]:
# 103
# 아래 코드의 출력 결과를 예상하라
print(3 < 5)

True

In [ ]:
# 104
# 아래 코드의 결과를 예상하라.

x = 4
print(1 < x < 5)

True

In [ ]:
# 105
# 아래 코드의 결과를 예상하라.

print ((3 == 3) and (4 != 3))

True

In [ ]:
# 106
# 아래 코드에서 에러가 발생하는 원인에 대해 설명하라.

# print(3 => 4)
print(3 >= 4)

False

In [ ]:
# 107
# 아래 코드의 출력 결과를 예상하라

if 4 < 3:
    print("Hello World")

In [ ]:
# 108
# 아래 코드의 출력 결과를 예상하라

if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

Hi, there.

In [ ]:
# 109
# 아래 코드의 출력 결과를 예상하라

if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [ ]:
# 110
# 아래 코드의 출력 결과를 예상하라

if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

## input()

In [ ]:
# 111
# 사용자로부터 입력받은 문자열을 두 번 출력하라.
# 아래는 사용자가 "안녕하세요"를 입력한 경우의 출력 결과이다.
a = input("입력 :")
print(a*2)

입력 :안녕하세요
안녕하세요안녕하세요

In [ ]:
# 112
# 사용자로부터 하나의 숫자를 입력받고, 입력 받은 숫자에 10을 더해 출력하라.

a = int(input("숫자 입력 : "))
print(a+10)

숫자 입력 : 30
40

In [ ]:
# 113
# 사용자로부터 하나의 숫자를 입력 받고 짝수/홀수를 판별하라.

a = int(input("write number : "))

if a % 2 == 0:
    print("even")
else :
    print("odds")

write number : 30
even

In [ ]:
# 114,115
# 사용자로부터 값을 입력받은 후 해당 값에 20을 더한 값을 출력하라.
# 단 사용자가 입력한 값과 20을 더한 계산 값이 255를 초과하는 경우 255를 출력해야 한다.

a = int(input("write number : "))
a = a - 20
if 0 <= a <= 255 :
    print(a)
elif a < 0 :
    print(0)
else:
    print(255)

write number : 15
0

In [ ]:
# 116
# 사용자로부터 입력 받은 시간이 정각인지 판별하라.

time = input("현재시간 : ")

if time.endswith("00"):
    print("정각입니다.")
else:
    print("정각이 아닙니다.")

현재시간 : 03:10
정각이 아닙니다.

In [ ]:
# 117
# 사용자로 입력받은 단어가 아래 fruit 리스트에 포함되어 있는지를 확인하라.
# 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

fruit = ["사과", "포도", "홍시"]

a = input("과일 이름을 입력하세요 : ")

if a in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

과일 이름을 입력하세요 : 사과
정답입니다.

In [ ]:
# 118
# 투자 경고 종목 리스트가 있을 때 사용자로부터 종목명을 입력 받은 후
# 해당 종목이 투자 경고 종목이라면 '투자 경고 종목입니다'를
# 아니면 "투자 경고 종목이 아닙니다."를 출력하는 프로그램을 작성하라.

warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]

a = input("투자할 종목명을 입력 : ")

if a in warn_investment_list:
    print("투자 경고 종목입니다.")
else:
    print("투자 경고 종목이 아닙니다.")

투자할 종목명을 입력 : Google
투자 경고 종목입니다.

In [ ]:
# 119
# 아래와 같이 fruit 딕셔너리가 정의되어 있다.
# 사용자가 입력한 값이 딕셔너리 키 (key) 값에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

a = input("제가 좋아하는 계절은 : ")

if a in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

제가 좋아하는 계절은 : 봄
정답입니다.

In [ ]:
# 120
# 아래와 같이 fruit 딕셔너리가 정의되어 있다.
#사용자가 입력한 값이 딕셔너리 값 (value)에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

a = input("좋아하는 과일은 ? : ")

if a in fruit.values():
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은 ? : 한라봉
오답입니다.

## islower() : 소문자 여부를 판별

In [ ]:
# 121
# 사용자로부터 문자 한 개를 입력 받고, 소문자일 경우 대문자로, 대문자 일 경우, 소문자로 변경해서 출력하라.

string = input("문자를 입력하세요 : ")

if string.islower() == True:
    print(string.upper())
else:
    print(string.lower())

문자를 입력하세요 : A
a

In [ ]:
# 122
# 점수 구간에 해당하는 학점이 아래와 같이 정의되어 있다. 사용자로부터 score를 입력받아 학점을 출력하라.
# 점수	학점
# 81~100	A
# 61~80	B
# 41~60	C
# 21~40	D
# 0~20	E

score = float(input("점수를 입력하세요 : "))

if 80 < score <= 100 :
    print("A")
elif 60 < score :
    print("B")
elif 40 < score:
    print("C")
elif 20 < score:
    print("B")
else:
    print("E")

점수를 입력하세요 : 50
C

In [ ]:
# 123
# 사용자로부터 달러, 엔, 유로, 또는 위안 금액을 입력받은 후
# 이를 원으로 변환하는 프로그램을 작성하라.
#각 통화별 환율은 다음과 같다.
#사용자는 100 달러, 1000 엔, 13 유로, 100 위안과 같이
#금액과 통화명 사이에 공백을 넣어 입력한다고 가정한다.

money = {"달러" : 1167, "엔" : 1.096, "유로" : 1268, "위안" : 171}

user = input("금액을 입력하시오 : ")

a,b = user.split()
won = money[b] * float(a)
print(f"{won}원")

금액을 입력하시오 : 100 달러
116700.0원

In [ ]:
# 124
# 사용자로부터 세 개의 숫자를 입력 받은 후 가장 큰 숫자를 출력하라.

# >> input number1: 10
# >> input number2: 9
# >> input number3: 20
# 20

a = float(input("숫자 1 : "))
b = float(input("숫자 2 : "))
c = float(input("숫자 3 : "))

lst = [a,b,c]
print(max(lst))

숫자 1 : 10
숫자 2 : 9
숫자 3 : 20
20.0

In [ ]:
# 125
# 휴대폰 번호 앞자리에 따라 통신사는 아래와 같이 구분된다.
# 사용자로부터 휴대전화 번호를 입력 받고, 통신사를 출력하는 프로그램을 작성하라.

# 번호	통신사
# 011	SKT
# 016	KT
# 019	LGU
# 010	알수없음
# >> 휴대전화 번호 입력: 011-345-1922
# 당신은 SKT 사용자입니다.

phone = {"011" : "SKT",
          "016" : "KT" ,
          "019" : "LGU" ,
          "010" : "알수없음"}

num = input("휴대전화 번호 입력 : ")
print(f"당신은 {phone[num[:3]]} 사용자입니다.")

휴대전화 번호 입력 : 011-345-1922
당신은 SKT 사용자입니다.

In [ ]:
# 126
# 우편번호는 5자리로 구성되는데, 앞의 세자리는 구를 나타낸다.
# 예를들어, 강북구의 경우 010, 011, 012 세 자리로 시작한다.
local = {"강북구" : ["0","1","2"],
         "도봉구" : ["3","4","5"],
         "노원구" : ["6","7","8","9"]}

num = input("우편번호 : ")

for k,v in local.items():
    if num[2] in v:
        print(k)

우편번호 : 01400
도봉구

In [ ]:
# 127
# 주민등록번호 뒷 자리 7자리 중 첫째 자리는 성별을 나타내는데,
# 1, 3은 남자 2, 4는 여자를 의미한다.
# 사용자로부터 13자리의 주민등록번호를 입력 받은 후 성별 (남자, 여자)를 출력하는 프로그램을 작성하라.

num = input("주민등록번호 : ")


if int(num[-7]) % 2 == 0 :
    print("여자")
else:
    print("남자")

주민등록번호 : 821010-1635210
남자

In [ ]:
# 128
# 주민등록번호의 뒷 자리 7자리 중 두번째와 세번째는 지역코드를 의미한다.
# 주민 등록 번호를 입력 받은 후 출생지가 서울인지 아닌지 판단하는 코드를 작성하라
num = input("주민등록번호 : ")


if 0 <= int(num[-6:-4]) <= 8:
    print("서울입니다.")
else:
    print("서울이 아닙니다.")

주민등록번호 : 861010-1015210
서울입니다.

In [ ]:
# 129
num = input("주민등록번호 : ")
num = num.replace("-","")
print(num)

주민등록번호 : 821010-1635210
8210101635210
유효하지 않은 주민등록번호입니다.

In [ ]:
# 130
# 아래 코드는 비트코인의 가격 정보를 딕셔너리로 가져오는 코드이다.
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])

if (시가+변동폭) > 최고가:
    print("상승장")
else:
    print("하락장")

상승장

# 08. 파이썬 반복문

In [ ]:
# 131
# for문의 실행결과를 예측하라.

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [ ]:
# 132
# for문의 실행결과를 예측하라.

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

In [ ]:
# 133
# 다음 for 문과 동일한 기능을 수행하는 코드를 작성하세요.

# for 변수 in ["A", "B", "C"]:
#   print(변수)

# print("A")

In [ ]:
# 134~135 pass : 133번이랑 같은 유형

In [1]:
#136
for i in [10,20,30]:
    print(i)

10
20
30

In [5]:
#158
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for i in 리스트:
    if i.endswith((".py", ".hwp")) :
        lst = i.split(".")
        print(lst[0])

hello
ex01
intro

In [6]:
# 159
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
    if i.endswith(".h"):
        print(i)

intra.h
define.h

In [7]:
#160
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    if i.endswith((".h",".c")):
        print(i)

intra.h
intra.c
define.h

In [8]:
#161
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [9]:
#162
for i in range(2002,2051,4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [18]:
#164
for i in range(99,-1,-1):
    print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [20]:
#165
for i in range(10):
    print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [21]:
#166
for i in range(1,10):
    print(f"3*{i} = {3*i}")

3*1 = 3
3*2 = 6
3*3 = 9
3*4 = 12
3*5 = 15
3*6 = 18
3*7 = 21
3*8 = 24
3*9 = 27

In [22]:
#167
for i in range(1,10):
    if i % 2 != 0 :
        print(f"3*{i} = {3*i}")

3*1 = 3
3*3 = 9
3*5 = 15
3*7 = 21
3*9 = 27

In [5]:
#168
total = 0
for i in range(1,11):
    total  += i
    print(i)
    
print(total)

1
2
3
4
5
6
7
8
9
10
55

In [7]:
# 169
total = 0
for i in range(1,11,2):
    total += i
print(total)

25

In [9]:
# 170
total = 1
for i in range(1,11):
    total *= i

print(total)

3628800

In [11]:
#171
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

In [13]:
#172
price_list = [32100, 32150, 32000, 32500]

for i, data in enumerate(price_list):
    print(i, data)

0 32100
1 32150
2 32000
3 32500

In [15]:
#173
price_list = [32100, 32150, 32000, 32500]

for i, data in enumerate(price_list):
    print((len(price_list)-1)-i, data)

3 32100
2 32150
1 32000
0 32500

In [17]:
#174
price_list = [32100, 32150, 32000, 32500]

for i in range(1,4):
    print(90+10*i, price_list[i])

100 32150
110 32000
120 32500

In [20]:
#175
my_list = ["가", "나", "다", "라"]

for i in range(3):
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [21]:
#176
my_list = ["가", "나", "다", "라", "마"]

for i in range(3):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [27]:
#177
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)):
    print(my_list[len(my_list)-1-i],my_list[len(my_list)-2-i])

라 다
다 나
나 가
가 라

In [29]:
#178
my_list = [100, 200, 400, 800]

for i in range(len(my_list)-1):
    print(my_list[i+1] - my_list[i])

100
200
400

In [30]:
#179
my_list = [100, 200, 400, 800, 1000, 1300]
total = 0
for i in range(len(my_list)-2):
    total = sum(my_list[i:i+3])
    

    print(total/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [31]:
#180
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []
for i in range(len(low_prices)):
    volatility.append(high_prices[i] - low_prices[i])

print(volatility)

[50, 100, 30, 80, 0]

In [32]:
#181
lst = [['101호','102호'],
       ['201호','202호'],
       ['301호','302호']]

In [38]:
#185
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
    for j in i:
        print(f"{j} 호")

101 호
102 호
201 호
202 호
301 호
302 호

In [1]:
#186
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in reversed(apart):
    for j in i:
        print(f"{j} 호")

301 호
302 호
201 호
202 호
101 호
102 호

In [3]:
#187
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in reversed(apart):
    for j in reversed(i):
        print(f"{j} 호")

302 호
301 호
202 호
201 호
102 호
101 호

In [4]:
#188
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(f"{j} 호")
        print("-"*5)

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [5]:
#189
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(f"{j} 호")
    print("-"*5)

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [6]:
# 190
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(f"{j} 호")
print("-"*5)

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [7]:
#191
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
    for j in i:
        print(j*(1.00014))

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [8]:
#192
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
    for j in i:
        print(j*(1.00014))
    print("-"*4)

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [9]:
#193
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []

for i in data:
    for j in i:
        result.append(j*1.00014)

print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [10]:
#194
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []

for i in data:
    lst = []
    for j in i:
        lst.append(j*(1.00014))
    result.append(lst)

print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [12]:
#195
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    print(i[3])

100
190
310

In [13]:
#196
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for col in ohlc[1:]:
    if col[3] > 150 :
        print(col[3])

190
310

In [14]:
#197
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for col in ohlc[1:]:
    if col[0] <= col[3]:
        print(col[3])

100
310

In [15]:
#198
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility = []

for col in ohlc[1:]:
    volatility.append(col[1]-col[2])

print(volatility)

[40, 30, 10]

In [16]:
#199
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    if i[3] > i[0]:
        print(i[1]-i[2])

10

In [19]:
#200
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
total = 0
for i in ohlc[1:]:
    total += i[3]-i[0]

print(total)

0

In [ ]:
#201,202
def print_coin():
    print("비트코인")

print_coin()

비트코인

In [21]:
#203
def print_coin():
    print("비트코인")

for i in range(100):
    print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [22]:
#204
def print_coins():
    for i in range(100):
        print("비트코인")

print_coins()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [23]:
#211
def function(string):
    print(string)

function("안녕")
function("Hi")

안녕
Hi

In [25]:
#215
def print_with_smile(string):
    print(string + ":D")

s = input("input message : ")
print_with_smile(s)

안녕!:D

In [26]:
#217

def print_upper_price(price):
    print(price*1.3)

price = float(input("current price : "))
print_upper_price(price)

13000.0

In [27]:
#218

def print_sum(a,b):
    print(a+b)
    
num1= float(input("num1 : "))
num2 = float(input("num2 : "))
print_sum(num1,num2)

30.0

In [ ]:
#219
def print_arthmetic_operation(a,b):
    print(f"{a} + {b} = {a+b}")
    print(f"{a} - {b} = {a-b}")
    print(f"{a} * {b} = {a*b}")
    print(f"{a} / {b} = {a/b}")

print_arthmetic_operation(3,4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [32]:
#220

def print_max(a,b,c):
    lst = []
    for i in (a,b,c):
        lst.append(i)
    print(max(lst))

print_max(1,2,3)

3

In [34]:
#221
def print_reverse(string):
    print(string[::-1])

print_reverse("python")

nohtyp

In [36]:
#224
def print_keys (dictionary):
    for keys in dictionary.keys():
        print(keys)

print_keys({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [37]:
#225
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}


def print_value_by_key  (my_dict, key):
    if key in my_dict.keys():
        print(my_dict[key])


print_value_by_key  (my_dict, "10/26")

[100, 130, 100, 100]

In [39]:
#226
def print_5xn(string):
    print(string[:5])
    print(string[5:])

print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [42]:
#227
def print_mxn(string,num):
    for i in range(0,len(string),num):
        print(string[i:i+num])
    
print_mxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

In [43]:
#228
def calc_monthly_salary(annual_salary):
    month = float(annual_salary)/12
    print(int(month))

calc_monthly_salary(12000000)

1000000

In [49]:
#233
def make_list(string):
    return list(string)

make_list("abcd")

['a', 'b', 'c', 'd']

In [50]:
# 234
def pickup_even(lst):
    l = []
    for i in lst:
        if i % 2 == 0:
            l.append(i)
    
    return l
            
pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [51]:
#235
def convert_int(num):
    num = int(num.replace(",",""))
    return num

convert_int("1,234,567")

1234567

In [53]:
#241
import datetime

now = datetime.datetime.now()
print(now)

2025-04-04 00:56:43.227318

In [54]:
#242
import datetime
now = datetime.datetime.now()
print(now,type(now))

2025-04-04 00:57:32.297217 <class 'datetime.datetime'>

In [55]:
#243
import datetime

now = datetime.datetime.now()

for day in range(5, 0, -1):
    delta = datetime.timedelta(days = day)
    date = now - delta
    print(date)

2025-03-30 00:59:34.044305
2025-03-31 00:59:34.044305
2025-04-01 00:59:34.044305
2025-04-02 00:59:34.044305
2025-04-03 00:59:34.044305

In [56]:
#244
import datetime

now = datetime.datetime.now()
print(now.strftime("%H : %M : %S"))

01 : 01 : 16

In [ ]:
# 245
import datetime

day = "2020-05-04"
ret = datetime.datetime.strptime(day, "%Y-%m-%d")
print(ret, type(ret))

2020-05-04 00:00:00 <class 'datetime.datetime'>

In [8]:
# 252 클래스 정의
class Human():
    def __init__(self,name,age,sex):
        # print("응애응애")
        self.name = name
        self.age = age
        self.sex = sex

    def __del__(self):
        print("나의 죽음을 알리지 마라")
    
    def who(self):
        print(f"이름 : {areum.name}, 나이 : {areum.age}, 성별 : {areum.sex}")

    def setInfo(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex


# areum = Human("모름", 0, "모름")
# areum.who()

# areum.setInfo("아름", 25, "여자")
# areum.who()

areum = Human("아름", 25, "여자")
del(areum)

나의 죽음을 알리지 마라

In [ ]:
class Stock():
    def __init__(self, name, code):
        self.name = name
        self.code = code
    
    def set_name(self,name):
        self.name = name
    
    def set_code(self,code):
        self.code = code
    
    def get_name(self):
        return self.name
    
    def get_code(self):
        return self.code
    

a = Stock(None, None)
a.set_name("삼성전자")
a.set_code("005930")
print(a.code)

005930